<!-- <form class="form-inline">
        <input name="searchInput" class="form-control" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%;">
        <button class="btn btn-outline-primary" (click)="searchText=''">x</button>
</form> -->
<div class="card" style="width: 18rem;">
<ng-container *ngFor="let destination of placesArray">
  <img src="{{destination.picture}}" class="card-img-top" alt="...">
  <div class="card-body" *ngIf="filterCondition(destination)">
    <p class="card-text">Location: {{destination.location}}</p>
    <p class="card-text">Date: {{destination.date}}</p>
    <p class="card-text">Price: {{destination.price}}</p>
    <button class="btn btn-info" (click)="destinationsService.populateForm(destination)">Edit</button>
    <button class="btn btn-danger" (click)="onDelete(destination.$key)">Delete</button>
  </div> 
</ng-container>
</div>

<div class="alert alert-danger" *ngIf="showDeletedMessage">Deleted successfully</div>


